<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Resources</title>
  <!-- required bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,800;1,400&family=Roboto:ital@0;1&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="resource_page\styles.css" />
</head>
<style>
  a {
    color: black;
  }
</style>

<body>
  <%-include('partials/navbar')%>

  <header>

    <div id="header">
      <h1 class="main-title">Resources</h1>
      <ul role="tablist" class="tablist">
        <li role="presentation" class="tablist__item">
          <a href="#content" role="tab" aria-selected="false" class="tablist__link">
            <img src="resource_page/images/m.png" alt="content image" class="tablist__image" />
            <figcaption class="tablist__figure-caption">Materials</figcaption>
          </a>
        </li>
        <li role="presentation" class="tablist__item">
          <a href="#blogs" role="tab" aria-selected="false" class="tablist__link">
            <img src="resource_page/images/b.png" alt="blog image" class="tablist__image" height="90%" />
            <figcaption class="tablist__figure-caption">Blogs</figcaption>
          </a>
        </li>
        <li role="presentation" class="tablist__item">
          <a href="#lectures" role="tab" aria-selected="false" class="tablist__link">
            <img src="resource_page/images/v.png" alt="video image" class="tablist__image" />
            <figcaption class="tablist__figure-caption">Videos</figcaption>
          </a>
        </li>
      </ul>
    </div>
  </header>

  <main class="main-body">
    <div class="container">
      <div class="tab-content">
        <section id="content" role="tabpanel" aria-hidden="false">
          <article class="card">
            <div class="card__body">
              <div class="card__header">
                <h2 class="card__title" id="material">Materials</h2>
              </div>
              <br />
              <%for(let i=0;i<Material.length;i++){%>
              <button class="accordion"><i class="fa fa-paper-plane" aria-hidden="false"></i>
                <%=Material[i].Year%></button>
              <div class="panel">
                <button class="sub-accordion"><img src="resource_page/images/folder_icon.png" height="22px"
                    width="22px" /> Orientation</button>
                <div class="sub-panel">
                  <ul>
                    <%for(let j=0;j<Material[i].Field.Orientation.Event.length;j++){%>
                    <li>
                      <a href="<%=Material[i].Field.Orientation.Event[j].Link%>" class="links"><i class="fa fa-link"
                          aria-hidden="false"></i><%=Material[i].Field.Orientation.Event[j].Name%></a>
                    </li>
                    <%}%>
                  </ul>
                </div>

                <button class=" sub-accordion"><img src="resource_page/images/folder_icon.png" height="22px"
                          width="22px" /> Assignment</button>
                        <div class="sub-panel">
                          <ul>
                            <%for(let j=0;j<Material[i].Field.Assignment.Event.length;j++){%>
                    <li>
                      <a href="<%=Material[i].Field.Assignment.Event[j].Link%>" class="links"><i class="fa fa-link"
                          aria-hidden="false"></i><%=Material[i].Field.Assignment.Event[j].Name%></a>
                    </li>
                    <%}%>
                          </ul>
                        </div>
                        <button class="sub-accordion"><img src="resource_page/images/folder_icon.png" height="22px"
                            width="22px" /> Presentation</button>
                        <div class="sub-panel">
                          <ul>
                            <%for(let j=0;j<Material[i].Field.Presentation.Event.length;j++){%>
                    <li>
                      <a href="<%=Material[i].Field.Presentation.Event[j].Link%>" class="links"><i class="fa fa-link"
                          aria-hidden="false"></i><%=Material[i].Field.Presentation.Event[j].Name%></a>
                    </li>
                    <%}%>
                          </ul>
                        </div>
                </div>
                <%}%>
                </div>
              </div>
          </article>
        </section>
        <section class="sec" id="blogs" role="tabpanel" aria-hidden="false">
          <article class="card overflow-hidden " style="display:flex">
            <div class="card__body cardblog">
              <div class="card__header">
                <h2 class="card__title">Blogs</h2>
              </div><br>
              <div class="cardbox d-flex flex-row flex-nowrap">
                <% let temp = blog.length %>
                <% for(let i=0; i<temp; i++) {%>
                <a href="/admin/resources/blog/<%= blog[i].id %> ">
                  <div class="d-flex flex-row flex-nowrap">
                    <div className="user_name align-self-end">
                      <div class="card1">
                        <img class="card-img-top imgStyle" src="/admin/Image/<%=blog[i].FileName%>"
                          alt="Card image cap" />
                        <div class="card-body">
                          <h3 class="card-title"><%= blog[i].Title %></h3>
                          <p class="card-text">
                            <%= blog[i].Content %>
                          </p>
                          <p class="card-text">
                            <small class="text-muted"><%= blog[i].CreatedDate %> </small>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
                <% } %>
              </div>
            </div>
      </div>
      </article>
      </section>
      <section class="pos" id="lectures" role="tabpanel" aria-hidden="false">
        <article class="card">
          <div class="card__body">
            <div class="card__header">
              <h2 class="card__title">Videos</h2>
            </div><br>
            <div class="scrollmenu">
              <!-- <div class="cardbox"> -->
              <iframe class="iframe_video" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
              </iframe>

              <iframe class="iframe_video" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
              </iframe>

              <iframe class="iframe_video" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
              </iframe>

              <iframe class="iframe_video" src="https://www.youtube.com/embed/tgbNymZ7vqY?controls=0">
              </iframe>

            </div>
          </div>
        </article>
      </section>

    </div>
    </div>
  </main>

  <!-- required bootstrap javascript -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous">
  </script>

  <script src="resource_page/script.js"></script>
</body>

</html>