<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
    <title>AddProgramming</title>
</head>

<body>
    <div class="container shadow my-4 p-4" style="border-radius: 10px;">
        <div class="row">
            <div class="col-md-10 m-auto">
                <h1 class="text-center display-4 my-4">Add Programming Event to The Database</h1>
                <form action="/api/v1/update/programming/<%=arr._id%>" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col my-2">
                            <input type="text" value="<%=arr.Title%>" name="Title" class="form-control" placeholder="Event Name" aria-label="Title">
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col my-2"> -->
                        <!-- <p class="text-center display-8 my-2">Start Date</p>
                            <input type="date" value="<%=arr.StartDate%>" name="StartDate" class="form-control"
                                placeholder="StartDate" aria-label="Start Date">
                        </div>
                        <div class="col my-2">
                            <p class="text-center display-8 my-2">End Date</p>
                            <input type="date" name="EndDate" class="form-control" placeholder="EndDate"
                                aria-label="End Date">
                        </div> -->
                        <div class="col my-2">
                            <p class="text-center display-8 my-2">Time</p>
                            <input type="text" value="<%=arr.Time%>" name="Time" class="form-control" placeholder="Time" aria-label="Time">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating my-4">
                            <textarea class="form-control" value="<%=arr.ShortDescription%>" name="ShortDescription" placeholder="Write a Short Description" id="floatingTextarea"><%=arr.ShortDescription%></textarea>
                            <label for="floatingTextarea">Short Description of Event</label>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">Registration Link:</span>
                            <input type="text" value="<%=arr.RegistrationLink%>" name="RegistrationLink" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">Any Other Link(if any) :</span>
                            <input type="text" value="<%=arr.Link%>" name="Link" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="col my-4">
                            <label for="file" class="custom-file-label">Choose Event Image</label>
                        </div>
                        <div class="col my-4">
                            <input type="file" name="Image" class="form-control" id="inputGroupFile02">
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </form>
            </div>
        </div>
    </div>
</body>

</html>